.entry-banner {
    position: relative;
    overflow: hidden;
    height: 300px;

    img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }

    .entry-header {
        position: absolute;
        inset: 0;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0 0 0 / 75%);
    }

    .entry-title {
        margin: 0;
        color: white;
        font-size: 2rem;
        text-transform: uppercase;
    }
}
