@use "@scss/abstracts/variables" as *;
@use "@scss/abstracts/function" as *;
@use "@scss/abstracts/mixins" as *;

/* --- header --- */
.main-header {
	position: relative;
	background-color: blueviolet;
}

.navigation {
	word-break: keep-all;

	ul {
		display: flex;
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			margin: 0 rem(15px);
			padding: 0;
			list-style: none;
		}
	}

	a {
		text-decoration: none;
	}
}